@font-face{
	font-family: "Shadows Into Light";
	src: url('../fonts/ShadowsIntoLight.ttf');
}

@font-face{
	font-family: "UTM Agin";
	src: url('../fonts/UTM Agin.ttf');
}

@font-face{
	font-family: "UTM Aircona";
	src: url('../fonts/UTM Aircona.ttf');
}

@font-face{
	font-family: "UTM Akashi";
	src: url('../fonts/UTM Akashi.ttf');
}

@font-face{
	font-family: "UTM Alba Matter";
	src: url('../fonts/UTM Alba Matter.ttf');
}

@font-face{
	font-family: "UTM Alberta Heavy";
	src: url('../fonts/UTM Alberta Heavy.ttf');
}

@font-face{
	font-family: "UTM Alexander";
	src: url('../fonts/UTM Alexander.ttf');
}

@font-face{
	font-family: "UTM Agin";
	src: url('../fonts/UTM Agin.ttf');
}

@font-face{
	font-family: "UTM Alpine KT";
	src: url('../fonts/UTM Alpine KT.ttf');
}

@font-face{
	font-family: "UTM Alter Gothic";
	src: url('../fonts/UTM Alter Gothic.ttf');
}

@font-face{
	font-family: "UTM Ambrose";
	src: url('../fonts/UTM Ambrose.ttf');
}

@font-face{
	font-family: "UTM Ambrosia";
	src: url('../fonts/UTM Ambrosia.ttf');
}

@font-face{
	font-family: "UTM Americana";
	src: url('../fonts/UTM Americana.ttf');
}

@font-face{
	font-family: "UTM AmericanaB";
	src: url('../fonts/UTM AmericanaB.ttf');
}

@font-face{
	font-family: "UTM AmericanaBEx";
	src: url('../fonts/UTM AmericanaBEx.ttf');
}

@font-face{
	font-family: "UTM AmericanaItalic";
	src: url('../fonts/UTM AmericanaItalic.ttf');
}

@font-face{
	font-family: "UTM American Sans";
	src: url('../fonts/UTM American Sans.ttf');
}

@font-face{
	font-family: "UTM Amerika Sans";
	src: url('../fonts/UTM Amerika Sans.ttf');
}

@font-face{
	font-family: "UTM Amherst";
	src: url('../fonts/UTM Amherst.ttf');
}

@font-face{
	font-family: "UTM Androgyne";
	src: url('../fonts/UTM Androgyne.ttf');
}

@font-face{
	font-family: "UTM Aptima";
	src: url('../fonts/UTM Aptima.ttf');
}

@font-face{
	font-family: "UTM AptimaBold";
	src: url('../fonts/UTM AptimaBold.ttf');
}

@font-face{
	font-family: "UTM AptimaBoldItalic";
	src: url('../fonts/UTM AptimaBoldItalic.ttf');
}

@font-face{
	font-family: "UTM AptimaItalic";
	src: url('../fonts/UTM AptimaItalic.ttf');
}

@font-face{
	font-family: "UTM Aquarelle";
	src: url('../fonts/UTM Aquarelle.ttf');
}

@font-face{
	font-family: "UTM Aristote";
	src: url('../fonts/UTM Aristote.ttf');
}

@font-face{
	font-family: "UTM Arruba";
	src: url('../fonts/UTM Arruba.ttf');
}

@font-face{
	font-family: "UTM A&S Graceland";
	src: url('../fonts/UTM A&S Graceland.ttf');
}

@font-face{
	font-family: "UTM A&S Heartbeat";
	src: url('../fonts/UTM A&S Heartbeat.ttf');
}

@font-face{
	font-family: "UTM A&S Signwriter";
	src: url('../fonts/UTM A&S Signwriter.ttf');
}

@font-face{
	font-family: "UTM Atlas";
	src: url('../fonts/UTM Atlas.ttf');
}

@font-face{
	font-family: "UTM Atlas_Solid";
	src: url('../fonts/UTM Atlas_Solid.ttf');
}

@font-face{
	font-family: "UTM Aurora";
	src: url('../fonts/UTM Aurora.ttf');
}

@font-face{
	font-family: "UTM Avenida";
	src: url('../fonts/UTM Avenida.ttf');
}

@font-face{
	font-family: "UTM Avo";
	src: url('../fonts/UTM Avo.ttf');
}

@font-face{
	font-family: "UTM AvoBold";
	src: url('../fonts/UTM AvoBold.ttf');
}

@font-face{
	font-family: "UTM AvoBold_Italic";
	src: url('../fonts/UTM Agin.ttf');
}

@font-face{
	font-family: "UTM AvoItalic";
	src: url('../fonts/UTM AvoItalic.ttf');
}